.edit-card {
    max-width: 33%;
    margin: 20px;
}


.fullInputWidth {
    width: 100%;
}

.footerBtn button {
    margin-right: 10px;
}

.checkboxWrapper {
    align-content: center;
    align-items: center;
    height: 40px;
}