<mat-card class="edit-card">
  <h3>{{page}}</h3>
  <form [formGroup]="editForm" (ngSubmit)="save()">
    <mat-form-field appearance="legacy" class="fullInputWidth">
      <mat-label>Category Name</mat-label>
      <input formControlName="Name" name="name" matInput autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="legacy" class="fullInputWidth">
      <mat-label>Category description</mat-label>
      <input formControlName="Description" name="description" matInput autocomplete="off">
    </mat-form-field>
    <section class="checkboxWrapper">
    <mat-checkbox formControlName="Available" name="available">Available</mat-checkbox>
   </section>

    <div class="footerBtn">
      <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid || !editForm.dirty">Save</button>
      <button mat-raised-button color="warn" type="button" (click)="delete()" *ngIf="id != 0">Delete</button>
    </div>
  </form>
</mat-card>