<div class="list-component">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 table-container">

    <mat-table  [dataSource]="dataSource" matSort>
   
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Price}}  </mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="CategoryName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.CategoryName}} </mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="Available">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Available </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <mat-checkbox [checked] = "row.Available == 1" disabled="disabled"></mat-checkbox> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
        <mat-cell *matCellDef="let row">

          <button mat-icon-button>
            <mat-icon aria-label="Edit" (click)="editItem(row)">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-label="Delete" (click)="delete(row.ItemID)">delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 
      <mat-row *matRowDef="let row; columns: displayedColumns;" >
      </mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>

 
</div>

<div class="footer">
    <button mat-fab color="primary" (click) = "new()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  