table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
}
  
td, th {
    width: 25%;
}
  

.list-component {
    padding: 0 100px;
    margin-top: 30px;
}
.actionButtons {
    float:right;
}

.mat-column-Action {
    flex: 0 0 100px; 
 }

 .mat-column-Available{
    flex: 0 0 100px;
    padding-left: 15px;
 }
 