<div class="list-component">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 table-container">

    <mat-table [dataSource]="dataSource" matSort>
   
      <ng-container matColumnDef="UserName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.UserName}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.FirstName}}  {{row.LastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ContactNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact No. </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ContactNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RoleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.RoleName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button>
            <mat-icon aria-label="Edit" (click)="editEmployee(row)">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" >
      </mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>

 
</div>

<div class="footer">
    <button mat-fab color="primary" (click) = "new()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  